<header data-tauri-drag-zone>
  <ogl-button id="minimize-button">
      <i class="fas fa-minus" slot="only-icon"></i>
  </ogl-button>

  <ogl-button id="close-button">
      <i class="fas fa-close" slot="only-icon"></i>
  </ogl-button>
</header>

<main>
    <h1>Game title</h1>
    <p>Game subtitle</p>

    <div class="game-actions">
        <ogl-button id="play-button">
            <i class="fas fa-play"></i> Play
        </ogl-button>

        <ogl-button id="settings-button">
            <i class="fas fa-gear" slot="only-icon"></i>
        </ogl-button>
    </div>
</main>
