<header data-tauri-drag-region>
  <button class="only-icon" id="minimize-button">
      <i class="fas fa-minus" slot="only-icon"></i>
  </button>

  <button class="only-icon" id="close-button">
      <i class="fas fa-close" slot="only-icon"></i>
  </button>
</header>

<main>
    <h1>Game title</h1>
    <p>Game subtitle</p>

    <div class="game-actions">
        <div class="buttons">
            <button id="play-button">
                <i class="fas fa-play"></i> Play
            </button>

            <button id="update-button">
                <i class="fas fa-rotate"></i> Update
            </button>

            <button class="only-icon" id="settings-button">
                <i class="fas fa-gear" slot="only-icon"></i>
            </button>
        </div>

        <div class="progress">
            <progress id="download-progress-bar" value="0" max="100"></progress>
            <label for="download-progress-bar"><span class="current"></span> / <span class="total"></span></label>
        </div>

        <span id="download-error"></span>
    </div>
</main>
